$defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif, Verdana, sans-serif;
$defaultFontSize: 14px;
$brandColor: #ababab;
$activeColor: #3f3429;
$activeLink: #503820;
$brandBgColor: #ababab;
$headerColor: #948c84;
$textColor: #1b1b1b;

$blueActive: #0d6efd;
