@import '../../sourses/styles/styles.scss';

.produc_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  padding: 50px 15px;
  background-color: rgb(218, 218, 218);
}
@media screen and (min-width: 768px) {
  .produc_list {
    flex-direction: row;
  }
}
