@import '../../sourses/styles/variebles.scss';
.container {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;

  min-height: 100vh;

  .wripper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .img {
      display: block;
      width: 280px;
      height: 280px;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 30px;
      border-radius: 7px;
    }
    .rigthSide {
      .title {
        margin-bottom: 45px;
        font-size: 100px;
        font-weight: 500;
        line-height: 75px;
        text-align: center;
        color: #252932;
      }
      .text {
        max-width: 448px;
        margin-bottom: 36px;
        font-family: Barlow;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        color: #6c6c6c;
      }
      .buttonBackHome {
        display: block;
        width: 175px;
        height: 53px;

        margin: 0 auto;

        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

        border: none;
        border-radius: 7px;
        color: $activeColor;
        background-color: $brandBgColor;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

        transition:
          background-color 0.35s ease-in-out,
          color 0.35s ease-in-out;

        &:hover {
          cursor: pointer;
          color: #ffffff;
          background-color: $blueActive;
        }
      }
    }
  }
}
